@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <form>
        帳號：<input type="text" id="acc"/>
        密碼：<input type="password" id="pwd" />
        <button type="submit" class="btn btn-primary" id="login">登入</button>
    </form>
</div>


<div>剩餘: <span id="displayLeftTime"></span></div>


@section Scripts {
    <script>
        $(document).ready(function() {

            setInterval(function() {
                $.post("/Home/CheckLeftTime", {}, function(result) {
                    $("#displayLeftTime").text(result);
                });
            }, 3000);

            $("#login").click(function(e) {
                e.preventDefault();
                
                $.post("/Home/Login", { acc: $("#acc").val(), pwd: $("#pwd").val() }, function(result) {
            


                });
            });
        });
    </script>

}